common-db/src/main/resources/databases.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="ua.kiev.unicyb.tcct"
           targetNamespace="ua.kiev.unicyb.tcct" elementFormDefault="qualified">

    <xs:element name="databaseDtoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="database">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>